{% extends 'cobalt/base.html' %}
{% load filters %}

{% block body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          {% if code %}
          <p class="lead">Change your password</p>
          <form method="POST" action="{% url 'index' %}changepassword">
              {% csrf_token %}
              <input type="hidden" name="code" value="{{ code}}"/>
              <div id="email-form-group" class="form-group" >
                <input placeholder="New Password" type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <input placeholder="Confirm Password" type="password" class="form-control" name="confirmpassword">
              </div>
              <input class="btn btn-primary" type="submit" value="Submit"/>
          </form>
          {% elif changed %}
          <div class="alert alert-success">Password changed! Login as you normally would now!  <a href="{% url 'index' %}">Go Home</a></div>
          {% else %}
          <div class="alert alert-danger">Error. <a href="mailto:help@foxleaf.io">Contact us at help@foxleaf.io</a></div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
