{% extends 'cobalt/base.html' %}
{% load filters %}

{% block body %}
<div class="container main-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p class="lead">No worries. Enter your username or email and we'll send you a link to reset your password</p>
          <form method="POST" action="{% url 'index' %}resetpassword">
              {% csrf_token %}
              <div id="email-form-group" class="form-group" >
                <input placeholder="Username or Email" type="text" class="form-control" name="identifier">
              </div>
              <input class="btn btn-primary" type="submit" value="Submit"/>
          </form>
        </div>
    </div>
</div>
{% endblock %}
